<div class="modal" [ngClass]="{'show': display}">
  <div class="modal-content  text-center pt-5 p-4">
 
      <h4>Recuperar contraseña</h4>

   
      <div class="text-container-subtitle mt-4"> <!-- Contenedor para los párrafos con estilo de subtítulo -->
        <p>Se ha enviado un link a su correo con los pasos</p>
        <p>a seguir para recuperar su contraseña</p>
        <br>
        <div class="texto-correo"> <!-- Asegúrate de que el div tenga un ancho definido para permitir la alineación -->
          <p>Correo:</p>
           </div>
          <p>ju*************ejemplo.cl</p>
       
    </div>
    <div class="modal-body">
     
    
    </div>
    
    
    <p class="info">(Puede tardar unos minutos en recibir el correo, revisar también carpeta spam)</p>
  
      <button type="button" (click)="onClose()">Cerrar</button>
  
  </div>
</div>
