.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal.show {
  display: flex;
  align-items: center;
 
  justify-content: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 544px;
  height: 485px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative; /* Se agrega para centrar correctamente el contenido */
}

.info {
  color: grey;
  font-size: small;
}

button {
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #5cb85c;
  color: white;
  border-radius: 5px;
  /* Se agregan transiciones para el efecto al pasar el mouse */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4cae4c;
}

.text-container-subtitle {
  font-size: 16px; 
  color: #5D5D5D;
}

.text-container-subtitle p {
  margin: 0; 
  padding: 0; 
 
}

.texto-correo {

  padding-right: 11em; 
}