<div class="modal" [ngClass]="{'show': display}">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Recuperar contraseña</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Se ha enviado un link a su correo con los pasos a seguir para recuperar su contraseña</p>
        <p>Correo: ju*************ejemplo.cl</p>
        <p class="info">(Puede tardar unos minutos en recibir el correo, revisar también carpeta spam)</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClose()">Cerrar</button>
      </div>
    </div>
  </div>
  