<div class="custom-modal">
    <div class="custom-modal-content rounded-3 text-center">
        <h2 class="title">Carga masiva</h2>
        <p class="description">Arrastra al recuadro o haz click en él para cargar tu archivo en formato Excel</p>
        <div class="upload-box">
            <p class="upload-text"> <img src="../../../../assets/image/uploadBig.svg" class="imagen"></p>
        </div>
        <div class="button-group d-flex justify-content-between">
            <button class="btn btn-outline mt-5 btn-fixed-width" (click)="cerrarModal()">Volver</button>
            <button class="btn btn-primary mt-5 btn-fixed-width">
                <img src="../../../../assets/image/upload.svg" class="imagen">
                Buscar
            </button>
        </div>
        
    </div>
</div>
