<div class="foto-container">
  <img
    src="../../../assets/image/Foto-fondo.jpg"
    class="background-image"
    alt=""
  />
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center mt-5">
        <div class="justify-content-center">
          <img class="logo" src="../../../assets/image/Logo.jpg" alt="logo" />
        </div>

        <p-card class="row justify-content-center">
          <form class="p-fluid">
            <div class="p-field mt-3">
              <input
                class="input-color"
                id="username"
                type="text"
                pInputText
                placeholder="Correo corporativo"
              />
            </div>
            <div class="p-field mt-3">
              <p-password class="input-color" [toggleMask]="true"></p-password>
            </div>
            
            <button
              pButton
              type="button"
              label="Iniciar Sesión"
              class="p-button-rounded mt-5"
            ></button>
          </form>
          <div class="p-field mt-3">
            <a routerLink="/forgot-password" class="mt-3">Olvidé mi contraseña</a>
        </div>
        <button
        pButton
        routerLink="/data-usuario-rut"
        type="button"
        label="data rut"
        class="p-button-rounded mt-5"
      ></button>
        </p-card>
      </div>
    </div>
  </div>
</div>