

<div class="custom-modal">

    <div class="custom-modal-content rounded-3 text-center">
    <p class="my-3"> Advertencia: Equipos Duplicados</p>
        <img src="../../../../assets/image/alert.svg" class="mt-4 mb-4" alt="Alert" />
        <p class="subtitulo">Uno o mas equipos están duplicados en el documento</p>
  
        
        <div class="modal-footer mt-4 pt-0">
          <button class="btn btn-outline my-3 px-1" (click)="cerrarModal()">Volver</button>
          <button class="btn btn-eliminar px-1"    routerLink="/equipos-duplicados"  >Ver Duplicados</button>
          <button class="btn btn-eliminar px-1" (click)="reemplazarYCerrar()">Reemplazar</button>

    
    
        </div>
      </div>
    </div>
    